
<% if ( data.step.medias && data.step.medias[0] != '' ) { %>
<!-- attribute template "medias" -->
		
    <% if ( ['avi', 'mov', 'mp4', 'm4v'].indexOf(data.step.medias[0].split('.')[1]) >= 0 ) { %>
    
		<div class="module-media module-media-video">
			<div class="module-media module-media-video-inner">
		    <video src="http://<%= data.config.server.host + ':' + data.config.server.port +  data.config.app.mediaPath + '/' +data.step.scenarioMediaPath + data.step.medias[0] %>" autoplay="on" id="module-media-video" width="80%"></video>
			</div>
			
			<div class="nav-video-playpause"></div>
			<div class="nav-video-rewind"></div>
		</div>
		
    <% } else { %>
    
      <% if (data.step.medias.length > 1) { %>
      
        <%- include('attr-medias-caroussel.ejs', {data: data}) %>
      
      <% } else { %>
		
				<div class="module-media module-media-image">
		      <img id="image1" src="http://<%= data.config.server.host + ':' + data.config.server.port +  data.config.app.mediaPath + '/' +data.step.scenarioMediaPath + data.step.medias[0] %>" />
				</div>
		    
      <% } %>
      
    <% } %>
    
    
<script>
	
	if ($('#module-media-video')) {
		var video = document.getElementById("module-media-video");

    $('#module-media-video').on('pause', function(e) { 
      $('body').addClass('is-video-paused');
    }).on('play', function(e) { 
      $('body').removeClass('is-video-paused');
    });
    
    $('.nav-video-playpause, #module-media-video').on('click', function(){
	    return video.paused ? video.play() : video.pause();
    });
    
    $('.nav-video-rewind').on('click', function(){
	    video.currentTime = 0.01;
    });
  }

  <% if ( data.step.transitions[0].condition == 'endMedia' ) { %>
    // transition 'endMedia'
    if ($('#module-media-video')) {
      $('#module-media-video').on('ended', function(e) { 
        console.log('endMedia...'); 
	      stepIsEnding(function(){});
	      
        nextStep = '<%= data.step.transitions[0].id %>';
        stepTimeout = setTimeout(goToNextStep, <%= data.step.transitions[0].duration || 2000 %>);
      });
    }
  <% } %>
</script>
<% } %>