<%##################### background ######################%>

<% if ( data.step.background &&  data.step.background != '' ) { %>
<style>
   body {
      background-image: url("<%= data.config.app.mediaPath + '/' + data.step.scenarioMediaPath +data.step.background %>");
      background-repeat: no-repeat, repeat;
      background-color: black;
  }
</style>
<% } %>

<%######################## Text ########################%>

<% if ( data.step.text && data.step.text != '' ) { %>
<div class="row">
  <div class="col-md-12">
    <div id="textContent"><%- data.step.text %></div>
  </div>
</div>
<% } %>

<%######################## Media #######################%>
<% if ( data.step.medias[0] && data.step.medias[0] != '' ) { %>
<div class="row">
  <div class="col-md-12">
    <% if ( ('avi', 'mov', 'mp4').indexOf(data.step.medias[0].split('.')[1]) >= 0 ) { %>
    <video src="http://<%= data.config.server.host + ':' + data.config.server.port +  data.config.app.mediaPath + '/' +data.step.scenarioMediaPath + data.step.medias[0] %>" autoplay="on" id="video1" width="80%" controls="on"></video>
    <% } else { %>
      <img id="image1" src="http://<%= data.config.server.host + ':' + data.config.server.port +  data.config.app.mediaPath + '/' +data.step.scenarioMediaPath + data.step.medias[0] %>" />
    <% } %>
  </div>
</div>
<script>

  <% if ( data.step.transitions[0].condition == 'endMedia' ) { %>
    // transition 'endMedia'
    if ($('#video1')) {
      $('#video1').on('ended', function(e) { 
          console.log('endMedia...'); 
          nextStep = '<%= data.step.transitions[0].id %>';
          setTimeout(goToNextStep, <%= data.step.transitions[0].duration  || 2000 %>);
      });
    }
  <% } %>
</script>
<% } %>

<%###################### Choices #######################%>
<% if ( data.step.choices && data.step.choices[0] != '' ) { %>
<div class="row">
  <div class="col-md-12">
	<% for(var i=0; i< data.step.choices.length; i++) { %>
    <% if (data.step.choices[i].text) { %>
    <label for="<%= (data.step.choices[i].text) ? data.step.choices[i].text : data.step.choices[i] %>"><%= (data.step.choices[i].text) ? data.step.choices[i].text : data.step.choices[i] %></label>
    <% } %>
		<button class="btn btn-md btn-default choiceButton" id="but<%=i%>" name="<%= (data.step.choices[i].text) ? data.step.choices[i].text : data.step.choices[i] %>"><%- (data.step.choices[i].img) ? '<img src=\'' + data.config.app.mediaPath + '/' +data.step.scenarioMediaPath + data.step.choices[i].img + '\'/>' : data.step.choices[i] %></button>
	<% } %>
  </div>
</div>
<% } %>

<script>
  // Choices button
  $(".choiceButton").on('click', function(e) {
    var choice = $(this).attr("name");
    console.log("'" + choice + "' button was choosen !");
    step_validation(choice);
  }); 
</script>  

