<%###################### Choices #######################%>
<% if ( data.step.choices && data.step.choices[0] != '' ) { %>
<div class="row">
  <div class="col-md-12">
	<% for(var i=0; i< data.step.choices.length; i++) { %>
    <% if (data.step.choices[i].text) { %>
    <label for="<%= (data.step.choices[i].text) ? data.step.choices[i].text : data.step.choices[i] %>"><%= (data.step.choices[i].text) ? data.step.choices[i].text : data.step.choices[i] %></label>
    <% } %>
		<button class="btn btn-md btn-default choiceButton" id="but<%=i%>" name="<%= (data.step.choices[i].text) ? data.step.choices[i].text : data.step.choices[i] %>"><%- (data.step.choices[i].img) ? '<img src=\'' + data.config.app.mediaPath + '/' +data.step.scenarioMediaPath + data.step.choices[i].img + '\'/>' : data.step.choices[i] %></button>
	<% } %>
  </div>
</div>
<script>
$(".choiceButton").on('click', function(e) {
  var choice = $(this).attr("name");
  console.log("'" + choice + "' button was clicked !");
  step_validation(choice);
}); 
</script>	
<% } %>
<p>
Memory : 1 image (cartes, retournables avec animation) pour chacun des 4 conteneurs. 
Le médiateur fait discuter les participants sur chacun des objets, pris un par un mais dans l’ordre que l’on veut. On clique sur la carte pour voir s’afficher la réponse (validation / réfutation) OUI pour le tonneau cf. ICONO Schéma modalité d’usage, NON pour les autres (réponse sous forme de visualisation de la base de la pipette dans l’ouverture du contenant).
</p>